process {
    executor = 'awsbatch'
    queue = 'default-maf-pipelines'
}

params {

  get_dbs      = false
  force_update = false

/*
        ANNOTATION INPUTS
*/

  input = null

// you can download databases with: 
// nextflow run fmalmeida/bacannot --get_dbs --output bacannot_dbs -profile <docker/conda/singularity>
  // bacannot_db = "/mnt/efs/databases/bacannot_dbs/20221028"
  bacannot_db = "s3://genomics-workflow-core/Results/Bacannot/databases/20221028"

/*
      GENERAL PARAMETERS
*/

  output = 's3://genomics-workflow-core/Results/Bacannot'

  bedtools_merge_distance = null

/*
* Bakta optional
*/
  bakta_db  = null

/*
* Prokka optional parameters
*/
  prokka_use_pgap = true
  prokka_kingdom = null
  prokka_genetic_code = null
  prokka_use_rnammer = false

/*
* Resfinder species panel
*/
  resfinder_species = null

/*
  * Handling the execution of processes
  *
  * By default, all processes are executed. These
  * parameters tells wheter NOT to run a process.
  *
  * Which means: false will allow its execution
  * while true will create a barrier and skip a process.
  */
  skip_plasmid_search = false
  skip_virulence_search = false
  skip_resistance_search = false
  skip_iceberg_search = false
  skip_prophage_search = false
  skip_kofamscan = false
  skip_antismash = false

  /*
    * Custom databases can be used to annotate additional genes in the genome.
    * It runs a BLAST alignment against the genome, therefore, the custom database
    * More than one custom database can be given separated by commas.
    * Gene headers must be properly formated as described in the
    * documentation: https://bacannot.readthedocs.io/en/latest/custom-db
    */
  custom_db    = null
  ncbi_proteins = null

  /*
    * Annotation thresholds to be used when scanning specific databases and features
    * Select a combination of thresholds that is meaningful for your data. Some of
    * the databases are protein-only, others are nucleotide only. We cannnot control
    * that and the databases will be scanned either if blastp or blastn using these
    * thresholds described here.
    */
  plasmids_minid = 90
  plasmids_mincov = 60

  blast_virulence_minid = 90
  blast_virulence_mincov = 90

  blast_resistance_minid= 90
  blast_resistance_mincov = 90

  blast_MGEs_minid = 85
  blast_MGEs_mincov = 85

  blast_custom_minid = 65
  blast_custom_mincov = 65

// Max resource options
// Defaults only, expecting to be overwritten
  max_memory                 = '20.GB'
  max_cpus                   = 16
  max_time                   = '40.h'
}